<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>alexkroman.com</title>
	<meta name="description" content="">
	<meta name="author" content="Alex Kroman">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
  <style>
    body {
      margin-top: 10px;
    }
    body,h1,h2,h3,h4,h5,h6 {
      font-family: Georgia, Times, "Times New Roman", serif;
    }
    li {
      margin-bottom: 20px;
    }
    hr {
      margin-bottom: 15px;
    }
    h4 a:link {
    }
    .footer {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .remove-bottom-padding {
      padding-bottom: 0px;
    }
  </style>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
</head>
<body>
  <div class="container">
    <div class="three columns">&nbsp;</div>
    <div class="ten columns">
      <h4><a href="/">Alex Kroman</a></h4>
      <hr />
      {{ content }}
      <hr />
      <div class="footer">
        <a href="#">Twitter</a>
        &middot;
        <a href="#">Github</a>
        &middot;
        <a href="#">LinkedIn</a>
        &middot;
        <a href="#">Email</a>
        &middot;
        <a href="#">RSS</a>
      </div>
    </div>
    <div class="three columns">&nbsp;</div>
  </div>
</body>
</html>
